<header class="app-header py-2">
 
		<!-- Navbar Right Menu-->
		<ul class="app-nav">
	   
            <li class="dropdown">
                <a class="app-nav__item" [routerLink]="['/user']"
                        aria-label="Show notifications">User</a>
        
                </li>
                <li class="dropdown">
                    <a class="app-nav__item" [routerLink]="['']"
                            aria-label="Show notifications">Table</a>
            
                    </li>
	
		</ul>
    </header>